/** A cor do backgoud geral */
#whiskermenu-window {
	background-color: #404040;
	color: #ccc;
}

/* Make sidebar buttons match */
#whiskermenu-window button {
	background-color: #404040;
	color: #ccc;
}
*

#whiskermenu-window button:hover {
	background-color: #808080;
	color: #fff;
}
#whiskermenu-window button:checked {
	background-color: #606060;
	color: #fff;
}

/* Make treeview match */
/*
#whiskermenu-window treeview {
	background-color: #404040;
	color: #ccc;
}
#whiskermenu-window treeview:hover {
	background-color: #808080;
	color: #fff;
}
*/

/*
 * Credito para
 * https://gottcode.wordpress.com/2017/10/21/theming-whisker-menu-redux/
*/
